# Homework Starter — Stage 6: Data Preprocessing
Use this notebook to apply your cleaning functions and save processed data.

In [56]:
import pandas as pd
from src import cleaning

## Load Raw Dataset

In [57]:
df = pd.read_csv('data/instructor_dirty.csv')
df.head()

   numeric_col category_col price    date_str     category
0         10.0            A  $100  2025-08-01  Electronics
1          NaN            B  $200  2025-08-02    Furniture
2         40.0            A  $150         NaN         Toys
3         55.0            B   NaN  2025-08-04     Clothing
4         70.0            C  $250  2025-08-05          NaN

## Apply Cleaning Functions

In [58]:
from src import cleaning



# 删除缺失比例大于 50% 的行
df = cleaning.drop_missing(df, threshold=0.5)

# 对数值列做归一化
df = cleaning.normalize_data(df, ['numeric_col', 'price'])

# 检测并去除异常值（分别对每列做）
mask = cleaning.detect_outliers_zscore(df['numeric_col'], threshold=3.0) | \
       cleaning.detect_outliers_zscore(df['price'], threshold=3.0)
df_no_outliers = df[~mask]

AttributeError: module 'src.cleaning' has no attribute 'drop_missing'

## Save Cleaned Dataset

In [ ]:
# df.to_csv('../data/processed/sample_data_cleaned.csv', index=False)